<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title should be here{% endblock title %}</title>
    <style type="text/css">{% block style %}Style should be here{% endblock style %}</style>
</head>
<body>
    {% block header %}Header should be here{% endblock header %}
    {% block menu %}Menu should be here{% endblock menu %}
    {% block body %}Body should be here{% endblock body %}
    {% block footer %}Footer should be here{% endblock footer%}
</body>
</html>
